<!-- <table>
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Origen</th>
        <th>Destino</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let flight of test">
        <td>{{ flight.f_code }}</td>
        <td>{{ flight.f_name }}</td>
        <td>{{ flight.source }}</td>
        <td>{{ flight.destination }}</td>
      </tr>
    </tbody>
  </table> -->

<body>
    <section>
        <h1>Avaiable Flights</h1>

        <button (click)="getFlightList()"></button>

    </section>
</body>